/*
	Syntax of using CSS rules:

	selector{
		property: value;
	}
*/

/*Universal Selector*/
/*It targets all the elements in our webpage.*/
*{
	/* font-family property changes the style of the font*/
	font-family: "courier New", monospace;
	/*font-size changes the size of the text	*/
	font-size: 20px;
}
/*Type Selectorr*/
/* tag name */
h1{
	color: yellow;
}

/*ID Selector*/
/*It targets only one element.*/
/*the letter spacing propety changes the spaces between the characters in the text*/
#zuitt-motto{
	letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name*/
.offering-item{
	/*text transform property changes the font to a certain case*/
	/*uppercase value changes the text to all capitalize letter*/
	text-transform: uppercase;
}

/*Attribute Selector*/
/*[attribute]*/
[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*Adjacent sibling selector*/
/*elements-for-reference + target-element*/
#zuitt-motto + img {
/* height property changes the vertical dimensions of an element*/
	height: 500px;
/*width property changes the horizontal dimensions of an element*/
	width: 500px;
	border-radius: 250px;
}

/*Descendant Selector*/
/*element-for-reference target-element*/
#bootcamp-learning-list li{
	color: #56dbc7;
}

/*General Sibling Selector*/
h2 ~ a{
/* text-decoration property changes lines included in the text (example: overline, underline and strike)*/
/*the none value will remove the underline from our anchor tag*/
	text-decoration: none;
}
/*Child Selector*/
form > label{
	color: rgb(86, 199, 219);
}

body {
	background-color: grey;
}

section{G
/*vh - viewport height*/
	height: 100vh;
	text-align: center;
}

html{
/*scroll-behavior property  that changes the scrolling behavior when clicking anchor tags*/
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}
/*pseudo class*/
a:hover{
	background-color: yellowgreen;
}

div{
/**/
	display: inline;
/*float property changes the horizontal alignment of an element to float either to the left or right of its container or div*/
	float: right;
}

ol{
/*removes the numbering on the list*/
	list-style-type: none;
}


form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: pink;
	height: 185px;
	width: 25vw;
/*the position property changes the position of an element based on a certain criteria*/
	position: relative;
	left: 37.5%;
}

button{
	background-color: darkred;
	color: white;
	border: 0;
	border-radius: 15px;
}
