*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'PT Sans Narrow', sans-serif;
}

#landing{
    background-image: url("http://wallpapercave.com/wp/K7tq1CL.jpg");
    background-image: href:;
    margin-top: 50px;
    color: white;
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: auto;
}

.container img{
	width: 40%;
	background-color: white;
	float: right;
}

.container{
    color: white;
    text-align:	left;
    padding-top: 100px;
}