/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
    height: 150vh;
}
 
nav ul{
    list-style-type: none;
 }

.nav-logo{
    float: left;
    border: 1px;
}

.right-nav{
    float: right;
    border: 1px;
}

.nav{
    display: inline-block;
    margin: 10px;
}

nav{
    position: sticky;
    top: 0;
    padding: 45px;
    background-color: white;
}

.tuitt-button{
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 0.5rem;
}

#bg-image{
    background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
    margin-top: 100px;
    color: white;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: auto;
}

.front-bg{
    height: inherit;
    background: rgba(0,0,0, 0.5);
}

.container{
    padding-right: 50px;
}
.container{
    color: white;
    opacity: 1;
    text-align: right;
    margin-left: 55%;
    margin-right: 10%;
}

.title{
    font-size: 45px;
    font-family: 'Zilla Slab', serif;
    padding: 10px;
}

.subtitle{
    text-align: right;
    font-size: 20px;
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

.apply-button{
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 0.5rem;
    float: right;
}


.title-2{
    font-family: 'Zilla Slab', serif;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro-description{
    text-align: center;
}

.prefooter-description {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.book-button{
    color: white;
    font-weight: bold;
    background-color: #336589;
    border-radius: 25px;
    font-size: 1rem;
    padding: 0.5rem;
    float: center;
}

.pre-footer{
    text-align: center;
    background-color: #f7fbfb;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.book-button{
    background-color: #336589;
    border-radius: 25px;
    color: white;
    border-width: 1px;
    padding: 5px 25px;

    margin: 5px;
}
footer{
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10rem;
    padding-bottom: 15rem;
}