/*number 5 external styling*/
#externalstyling{
	color: green;
}

/*number 6 universal selector*/
*{
	font-family: courier new;
	font-size: 20px;
}

/*number 7 type selector*/
h1{
	font-size: 50px;
}

/*number 8 id selector*/
#idSelector{
	text-transform: uppercase;
}

/*number 9 class selector*/
.languageLearned{ 
	background-color: yellowgreen;
}

/*number 10 attribute selector*/
[id="tu"]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*number 11 adjacent sibling selector*/
img + ul{
	list-style-type: none;
}

/*number 12 descendant selector*/
section	img{
	height: 100px;
	width: 100;
	border-radius: 50px;
}

/*number 13 generic sibling selector*/
ul ~ p{
	text-align: center;
}

/*number 14 child selector*/
section > ul > li{
	letter-spacing: 5px;
}
